@use "_core.scss";

.wrap {
    width: 100%;
    max-width: 1657px;
    margin: auto;
}
#header {
    padding: 30px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-btn {
    width: 24px;
    cursor: pointer;
    span {
        display: block;
        width: 100%;
        height: 1px;
        background: #000;
        margin-bottom: 9px;
    }
}
#logo img {
    width: 80px;
}

.util {
    // justify-self: end;
    display: flex;
    a {
        margin-left: 20px;
    }
}

.nav {
    font-size: 12px;
    font-weight: bold;
    position: fixed;
    top: 0;
    width: 295px;
    height: 100%;
    box-sizing: border-box;
    padding: 60px 40px;
    left: -315px;
    box-shadow: 3px 3px 20px rgb(0 0 0 / 10%);
    transition: all 0.3s;
    background: #fff;
    overflow: auto;
    // border: 1px solid #000;
    &.on {
        left: 0;
    }
    .menu-list > li:first-child {
        margin-bottom: 40px;
    }
    .menu-list > li:nth-child(2),
    .menu-list > li:nth-child(3) {
        margin-bottom: 25px;
    }
    .menu-list > li:nth-child(4),
    .menu-list > li:nth-child(5) {
        margin-bottom: 50px;
    }
    .menu-list .material {
        position: relative;
    }
    .menu-list .material::after {
        content: "";
        position: absolute;
        top: 1px;
        right: 120px;
        width: 13px;
        height: 10px;
        background: url(../leeum-img/icon_arrow_down.svg) no-repeat;
        transform: scaleY(-1);
    }
    .menu-list .material.tab-on::after {
        transform: none;
    }
    .tab-list.tab-on .dep2 {
        display: block;
    }
    .dep2 {
        display: none;
        padding: 20px 0 15px;
        font-size: 11px;
        font-weight: normal;
        li {
            padding-bottom: 10px;
            &.tab-on {
                .dep3 {
                    display: block;
                }
            }
        }
        .dep3 {
            li:first-child {
                padding-top: 10px;
            }
            padding-left: 5px;
            display: none;
        }
    }
    .close-btn {
        width: 18px;
        height: 18px;
        background: url("../leeum-img/icon_close.svg") no-repeat 50% 50%;
        background-size: 18px;
        position: absolute;
        top: 30px;
        right: 25px;
        cursor: pointer;
        z-index: 1000;
    }
}

.section-title {
    padding: 80px 0 20px;
    font-weight: 400;
    font-size: 22px;
    position: relative;
}

#main section {
    text-align: center;
    .img-box {
        position: relative;
        .hover-img {
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
        }
        &:hover .hover-img {
            opacity: 1;
            transition: 0.4s;
        }
    }
    > ul {
        display: flex;
        // width: 100%;
        flex-wrap: wrap;
    }
}

section > ul > li {
    width: 100%;
    &:first-child .img-box {
        margin-top: 0;
    }
    > .img-box {
        margin-top: 70px;
    }
}
section.main-banner {
    .banner {
        display: none;
    }
}

section.artist-section {
    .artist-name {
        font-size: 11px;
        padding-top: 5px;
    }
}

.m-padding {
    padding: 0 15px;
}

#footer {
    text-align: center;
    margin-top: 100px;
    padding-bottom: 95px;
    font-size: 10px;
    position: relative;
    .footer-menu {
        display: flex;
        justify-content: center;
        padding-bottom: 35px;
        ul {
            display: flex;
            li {
                margin-left: 10px;
                position: relative;
            }
            &:first-child li::after {
                content: "";
                background-color: #000;
                height: 0.5px;
                width: 100%;
                left: 50%;
                transform: translateX(-50%);
                bottom: -3px;
                position: absolute;
            }
            &:nth-child(2) li::after {
                content: "";
                background-color: #000;
                height: 0.5px;
                width: 0;
                bottom: -3px;
                left: 0;
                position: absolute;
            }
            &:nth-child(2) li:hover::after {
                width: 100%;
                transition: width 0.5s;
            }
        }
        p {
            position: absolute;
            bottom: 20px;
        }
    }
    .footer-info {
        span {
            display: inline-block;
            padding-right: 10px;
        }
        margin-bottom: 15px;
    }
    .footer-sns {
        width: 100%;
        position: absolute;
        right: 0;
        bottom: 52px;
        > ul {
            li {
                width: 17px;
                margin: 0;
                display: inline-block;
                margin-right: 15px;
            }
        }
        img {
            width: 17px;
        }
    }
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}
// 모바일페이지에서 none
.artist-section ul > li:nth-child(7),
.artist-section ul > li:nth-child(8),
.artist-section ul > li:nth-child(9),
.artist-section ul > li:nth-child(10),
.artist-section ul > li:nth-child(11),
.artist-section ul > li:nth-child(12),
section > ul > li:nth-child(2),
section > ul > li:nth-child(3) {
    display: none;
}
.see-more {
    text-align: right;
    display: none;
    span {
        border: 1px solid #000;
        font-size: 12px;
        padding: 14px 45px;
    }
}
button {
    position: absolute;
    &.nextBtn {
        right: 20px;
        background: url("../leeum-img/icon_next.svg") no-repeat;
        background-size: contain;
    }
    &.prevBtn {
        left: 20px;
        background: url("../leeum-img/icon_prev.svg") no-repeat;
        background-size: contain;
    }
    width: 20px;
    height: 20px;
    font-size: 0;
    border: none;
    bottom: -400px;
    cursor: pointer;
    z-index: 39;
    // display: none;
}

// 미디어쿼리
@media screen and (min-width: 768px) {
    .artist-section ul > li:nth-child(7),
    .artist-section ul > li:nth-child(8),
    .artist-section ul > li:nth-child(9),
    .artist-section ul > li:nth-child(10),
    .artist-section ul > li:nth-child(11),
    .artist-section ul > li:nth-child(12),
    section > ul > li:nth-child(2),
    section > ul > li:nth-child(3),
    button {
        display: block;
    }
    button.nextBtn {
        right: 0;
        bottom: 20px;
    }
    button.prevBtn {
        display: none;
    }
    .nav {
        li > a {
            position: relative;
        }
        z-index: 9090;
        li > a::after {
            content: "";
            background-color: #000;
            height: 0.5px;
            width: 0;
            bottom: -3px;
            left: 0;
            position: absolute;
        }
        li > a:hover::after {
            width: 100%;
            transition: width 0.5s;
        }
    }
    .m-padding {
        padding: 0;
    }
    section.artist-section ul {
        li {
            // margin-right: 20px;
            width: 31.5%;
        }
        .artist-name {
            font-size: 11px;
            padding-top: 5px;
            margin-bottom: 90px;
        }
    }
    section > ul > li {
        // margin-right: 10px;
        width: 31.5%;
        > .img-box {
            margin: 0px;
        }
        &:nth-child(3n) {
            margin-right: 0;
        }
    }
    section.main-banner {
        .mobile-banner {
            display: none;
        }
        .banner {
            display: block;
        }
    }

    section > ul {
        width: 100%;
        justify-content: space-between;
    }
    #footer {
        .footer-all {
            padding-right: 100px;
        }
        padding: 30px 15px;
        .footer-menu {
            margin-bottom: 5px;
            ul {
                padding-right: 35px;
            }
            justify-content: flex-start;
            p {
                top: 30px;
                left: 400px;
            }
            padding-bottom: 5px;
        }
        .footer-info {
            width: 100%;
            text-align: left;
            span {
                display: inline-block;
                padding-right: 10px;
            }
            margin-bottom: 15px;
        }
        .footer-sns {
            ul {
                position: absolute;
                right: 16px;
                bottom: -10px;
                li {
                    padding-right: 15px;
                }
            }
            img {
                width: 17px;
            }
        }
    }
}

@media screen and (min-width: 960px) {
    .see-more {
        display: block;
    }
    .nav {
        font-weight: 400;
        .menu-list > li:nth-child(2),
        .menu-list > li:nth-child(3),
        .menu-list > li:nth-child(4) {
            margin-bottom: 10px;
        }
    }

    .wrap {
        padding: 0 40px;
    }
    #header {
        align-items: flex-start;
        padding: 60px 0 50px;
    }
    .menu-btn {
        display: none;
    }
    #logo img {
        height: 210px;
        width: auto;
        padding-left: 275px;
    }
    .nav {
        left: 0;
        position: fixed;
        height: auto;
        box-shadow: none;
        width: 275px;
        .close-btn {
            display: none;
        }
    }
    main {
        padding-left: 275px;
    }

    .section-title {
        padding: 90px 0 20px;
        font-weight: 400;
        font-size: 22px;
        text-align: left;
    }
    #footer {
        margin-top: 200px;
        padding-left: 275px;
        p {
            left: 670px !important;
        }
    }
}
